{% extends 'base.html.twig' %}

{% block title %}Group index{% endblock %}

{% block body %}
    <h1>Group index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Promo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
                {% set a = 0 %}
        {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.promo }}</td>
                
                {% if app.user and app.user == group.users %}
                <td>
                    <a href="{{ path('group_show', {'id': group.id}) }}">show</a>
                    <a href="{{ path('group_edit', {'id': group.id}) }}">edit</a>
                </td>
                {% set a = 1 %}
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if a == 1 %}
    <a href="{{ path('group_new') }}">Create new</a>
    {% endif %}
{% endblock %}
