{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ app.user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ app.user.password }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ app.user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ app.user.lastName }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ app.user.birthDate ? app.user.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ app.user.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ app.user.city }}</td>
            </tr>
            <tr>
                <th>AlternanceJob</th>
                <td>{{ app.user.alternanceJob }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="http://localhost:8000/uploads/{{ app.user.photo }}" /></td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ app.user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>
    <a href="{{ path('user_edit') }}">edit</a>


    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
